body {
	font-family: $default-font;
	font-size: $default-font-size;
	font-weight: 400;
	padding: 1rem;
	line-height: 1.7;
	background-color: $color-red;
	background-image: url(../images/bg-intro-desktop.png);
	background-size: cover;
	background-blend-mode: normal;
}

.landing__heading {
	color: $color-white;
	margin-top: 40%;

	&-primary {
		font-size: 5rem;
		line-height: 1.1;
		margin-bottom: 2rem;
	}

	&-text {
		font-size: $default-font-size;
	}
}

// CALL TO ACTION BOX --
.cta__info {
	width: 90%;
	padding: 1rem;
	background-color: $color-accent-blue;
	border-radius: 1rem;
	text-align: center;
	margin: 0 auto;
	margin-top: 5rem;
	box-shadow: 0.1rem 1rem 0 rgba($color-dark-blue, 0.15);
	color: $color-white;
}

// FORM STYLING STARTS HERE

form {
	width: 90%;
	height: 50rem;
	background-color: $color-white;
	border-radius: 2rem;
	margin: 0 auto;
	box-shadow: 0.1rem 1rem 0 rgba($color-dark-blue, 0.15);
	margin-top: 2rem;
}

fieldset {
	border: none;
}

input {
	padding: 1rem;
	display: block;
	width: 85%;
	margin: 4rem auto;
	border-radius: 0.5rem;
	border: 1.5px solid rgb(248, 221, 221);
}
.form__terms {
	font-size: 1.2rem;
	text-align: center;
	margin-top: 1rem;
	color: #938cb8;
	margin: 0 auto;
	display: block;
	font-weight: 500;
}

// FORM STYLES ENDS HERE.

a {
	text-decoration: none;
	color: $color-red;
	font-weight: bold;
}

footer {
	margin: 4rem auto;
}

.attribution {
	font-size: $default-font-size;
	text-align: center;
	font-style: italic;
	color: $color-white;
}
.attribution a {
	color: $color-attribution;
}
